* { box-sizing: border-box;}

body {
	margin: 0;
	font-family: sans-serif;
}

.container {
	background-color: rgb(162, 0, 255);
	color: white;
	width: 80%;
	/* height: 350px; */
	margin: 0 auto;
	padding: 3rem;
}